body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*print**/
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  
@page {
  size: auto;
  margin: 15mm;
}

thead,tfoot { display: table-row-group }
tr { page-break-inside: avoid; }
}
a{
  color: #2C2E2E !important;
}
 .active{
   color: #5bc0de !important;
}


/**notification*/
.notification {
  text-decoration: none;
  padding: 0px 0px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}


.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
}
.contact-header {
  overflow: hidden;
  text-align: center;
}
.contact-header:before,
.contact-header:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.contact-header:before {
  right: 0.5em;
  margin-left: -50%;
}
.contact-header:after {
  left: 0.5em;
  margin-right: -50%;
}